.git/
node_modules/
.expo/
dist/
web-build/
build/
android/
ios/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
public/assets/*.wav
public/assets/*.mp3
!google-services.json

# חסימה גורפת של קבצי מדיה כבדים בכל רחבי הפרויקט למניעת ניפוח המשקל
**/*.wav
**/*.mp3
**/*.mp4
**/*.mov

# ⭐️ החרגת הרינגטונים של המערכת כדי שלא יתרסקו בענן ⭐️
!src/assets/mixkit-calling-ringtone.mp3
!src/assets/mixkit-waiting-ringtone.wav

# החרגת קבצי הרקע של מסך התמיכה (SupportScreen)
!src/assets/audio/*.mp3